[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SEAGLE"]
	path = SEAGLE
	url = https://github.com/jocelynchi/seagle
	shallow = true
	registered = true
